@import "./variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F8F5EE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width:1300px;
  padding: 0 1.25rem;
  margin: 0 auto;       
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding:0;
}

img, picture, video, canvas {
  display: block;
  max-width: 100%;
  width: 100%;
}

.margin-5 {
  margin: 5px;
}

.padding-4 {
  padding:4px;
}

.grey-bg {
  background: linear-gradient(150deg, rgb(230, 231, 232) 0px, rgb(204, 204, 204) 30%, rgb(187, 189, 191) 60%, rgb(230, 231, 232) 94%);
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size:2.5rem;
  border-left: 3px solid;
  padding-left: 0.5rem;
}

.blue-title {
  color: rgb(24, 38, 80);
}

.white-title {
  color: white;
}