.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: auto;
    text-align: center;
    padding-top:4rem;
    margin-bottom: 10px;
    font-family:Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;

    .skills-header {
        max-width: 100%;
        text-align: center;
    }

    .skills-lists-container {
        border: 2px solid $border-color;
        border-width: 2px 0 0 0;
        flex-wrap: wrap;
        margin: 2px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        font-size:14px;

        .skills-list {
            flex-wrap: wrap;
            margin: 2px;
            border: 2px solid $border-color;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            border-width: 2px 0 0 0;
            background: hsla(0, 1%, 30%, 0.063);
            transition: all .2s ease-in-out;


            .icon-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;
                margin: 4px;
                text-align: center;


                .icon {
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: all .2s ease-in-out;
                    pointer-events: none;
                }
            }
        }
    }
}