footer {
    border-top: 1px solid $border-color;
    padding: 1.5rem 0;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-social-media {
    display: flex;
    width: 46px;
    height: 46px;
    border: #3B3B38 solid 1.3px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    img {
        height:24px;
    }

    &:hover {
        background-color: #3B3B38;

        img {
            filter: brightness(100);
        }
    }
}